    <div class="footer__block-legal-vn">
    <div class="container">
      <div class="footer__policies">
        <div class="footer__policy-item"><a class="footer__policy-link" href="#">
          <div class="footer__policy-item__icon icon-vn-privacy"></div><span>Chính sách bảo mật</span></a>
        </div>
        <div class="footer__policy-item"><a class="footer__policy-link" href="#">
        <div class="footer__policy-item__icon icon-vn-tos"></div><span>Quy chế hoạt động</span></a></div>
        <div class="footer__policy-item"><a class="footer__policy-link" href="#">
        <div class="footer__policy-item__icon icon-vn-shipping"></div><span>Chính sách vận chuyển</span></a></div>
        <div class="footer__policy-item"><a class="footer__policy-link" href="#">
        <div class="footer__policy-item__icon icon-vn-violation"></div><span>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span></a></div></div>
        <div class="_1bJiNN text-center" style="margin-bottom: 25px;">Công ty TNHH ShopBook</div>
        <div class="_1bJiNN text-center">Địa chỉ: Tầng 29, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội. Tổng đài hỗ trợ: 19001221 - Email: support@shopbook.vn</div>
        <div class="_1bJiNN text-center">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch &amp; Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</div>
        <div class="_1bJiNN text-center">© 2015 - Bản quyền thuộc về Công ty TNHH ShopBook
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-3.3.1.slim.min.js" ></script>
    <script src="/javascripts/popper.min.js" ></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
