<% include ../partials/header.ejs %>
    <div class="container mt-2">
        <div class="row">        
            <% data.forEach(function(value , key){ %> 
                <div class="thum col-6 col-md-4" >
                    <div class="card">
                        <a href="#"><img class="rounded mx-auto d-block" src="<%= value.imagePath %>"/></a>
                        <div class="card-body">
                            <h5 class="card-title"><%= value.title%></h5>
                            <p class="card-text text-truncate"><%= value.description %></p>
                            <div class="clearfix">
                            <div class="price fa-pull-left">$<%= value.price %></div>
                            <a href="#" class="btn btn-success fa-pull-right"><i class="fas fa-cart-plus"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div> 
            <% }) %>  
        </div>
    </div>
    
<% include ../partials/footer.ejs %>
